* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a {
    color: #000000a6;
    text-decoration: none;
    transition: all 0.2s;
    text-shadow: 0 3px 8px #00000013;
}

a:hover,
a:focus {
    color: #000000;
    text-shadow: none;
}

svg {
    display: block;
}

html {
    height: 100%;
}

.body {
    display: flex;
    flex-direction: column;
    height: 100%;
    font-family: system-ui, -apple-system, "Segoe UI", Roboto, "Helvetica Neue", "Noto Sans", "Liberation Sans", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";;
}

.header {
    background-color: #f8f9fa;
    width: 100%;
    border-bottom: 1px solid #dee2e6;
    box-shadow: 0 3px 8px #00000013;
}

.nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 10px;
    margin: 0 auto;
    max-width: 1200px;
    column-gap: 10px;
    row-gap: 10px;
}

.nav__list {
    display: flex;
    column-gap: 10px;
    align-items: center;
}

.nav__item {
    list-style-type: none;
    display: flex;
    align-items: center;
}

.nav__link {
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
    column-gap: 5px;
}

.main {
    flex-shrink: 0;
    flex: 1 1 auto;
}

.main__content {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px 10px;
    margin: 0 auto;
    max-width: 1200px;
    height: 100%;
}

.hero {
    margin: auto;
    text-align: center;
}

.hero__text {
    font-weight: 300;
    color: #1a1a1a;
    font-size: calc(0.5rem + 4.0vw);
}

.typewriter {
    font-weight: 500;
    font-size: calc(1rem + 1vw);
}

.footer {
    background-color: #f8f9fa;
    width: 100%;
    margin-top: auto;
    border-top: 1px solid #dee2e6;
}

@media (max-width: 575px) {
    .nav {
        flex-direction: column;
    }
}